@import "tailwindcss";

html,
body,
:root {
  --background: #ffffff;
  --foreground: #ffffff;
  height:100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .sideBar-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .sideBar-scrollbar::-webkit-scrollbar-track {
    background-color: oklch(27.4% 0.006 286.033); /* gray-100相当 */
  }
  .sideBar-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7f7b7bd6; /* gray-400相当 */
    border-radius: 9999px; /* 丸みを持たせる */
  }
}

.ProseMirror h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0rem;
}

.ProseMirror h2 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0rem;
}

.ProseMirror h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 0rem;
}

.ProseMirror h4 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0rem;
}

/* コードブロック全体の枠（<pre>） */
.ProseMirror pre {
  background-color: black; /* slate-800 のような暗い色 */
  color: #fffaff; /* 文字は白系 */
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto; /* 長いコードがはみ出さないように横スクロール */
  font-family: 'Courier New', Courier, monospace; /* 等幅フォント */
  line-height: 1.5;
  margin-top: 5.0;
}

/* コードブロック内の文字（<code>） */
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.7rem;
}/* globals.css に追加 */

/* エディタ全体の標準スタイル */
.tiptap {
  outline: none; /* フォーカス時の青い枠線を消す */
}

/* タイトル（一番最初のh1）のスタイル */
.tiptap h1:first-of-type {
  font-size: 2.0rem; /* 40px相当。非常に大きくする */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem; /* 本文との間に余白を開ける */
  border: none;
}

/* プレースホルダー（薄い文字）のスタイル */
.tiptap p.is-empty::before,
.tiptap h1.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #a1a1aa; /* Tailwindの zinc-400 相当 */
  pointer-events: none;
  height: 0;
}
